<div *ngIf="item" class="container">
	<div class="recipe-wrapper">
		<span class="name">{{ item.name }}</span>
		<div class="items-wrapper">
			<div class="item">
				<div class="item-icon"><i class="fa-solid fa-bowl-food"></i></div>
				<span class="item-text">{{ item.meal }}</span>
			</div>

			<div class="item">
				<div class="item-icon"><i class="fa-solid fa-egg"></i></div>
				<span class="item-text">{{ item.category }}</span>
			</div>
			<div class="item">
				<div class="item-icon"><i class="fa-solid fa-fire"></i></div>
				<span class="item-text">{{ item.difficulty }}</span>
			</div>
			<div class="item">
				<div class="item-icon"><i class="fa-solid fa-clock"></i></div>
				<span class="item-text">{{ item.time }}m</span>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="img-wrapper">
					<img *ngIf="item.img.data.attributes.url" src="{{ item.img.data.attributes.url | assetsUrl }}" alt="{{ item.name }}" />
				</div>
				<div class="cooking">
					<h2>Cooking</h2>
					<div *ngFor="let step of item.cooking">
						<div class="steps">
							<div class="step">Step {{ step.step }}</div>
							<p class="description">{{ step.cooking }}</p>
							<div class="seperator"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-6">
				<h2>Ingredients</h2>
				<ul class="ingredients" *ngFor="let product of item.ingredients">
					<li class="ingredient">
						<span class="ingredient-name">{{ product.product }}:</span>
						<span class="ingredient-measure">{{ product.count }} {{ product.unit }}</span>
					</li>
				</ul>
				<!-- <div class="ingredients-image"></div> -->
			</div>
		</div>
	</div>
</div>
