<mat-form-field appearance="fill">
	<mat-label>{{ label }}</mat-label>

	<mat-select
		[value]="val"
		[disabled]="disabled"
		(opened)="onSelectOpened()"
		(selectionChange)="onValueChange($event)"
	>
		<mat-option *ngFor="let option of options; let i = index" [value]="option.value" [disabled]="option.disabled">
			<ng-container
				*ngTemplateOutlet="customItemRef || defaultItem; context: { $implicit: option, index: i }"
			></ng-container>
		</mat-option>
	</mat-select>
</mat-form-field>

<ng-template #defaultItem let-option>
	{{ option.text }}
</ng-template>
