<modal-main>
	<div class="title" slot="header">Sign up</div>
	<div slot="body">
		<form [formGroup]="signUpForm">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<input-text formControlName="name" label="Name" placeholder="Name"></input-text>
					</div>
					<div class="col-6">
						<input-text formControlName="lastName" label="Last name" placeholder="Last name"></input-text>
					</div>
					<div class="col-12">
						<input-text formControlName="email" label="Email" placeholder="Email"></input-text>
					</div>
					<div class="col-6">
						<input-text formControlName="password" label="Password" placeholder="Last name"></input-text>
					</div>
					<div class="col-6">
						<input-text
							formControlName="confirmPassword"
							label="Confirm Password"
							placeholder="Confirm Password"
						></input-text>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div slot="footer">
		<button btnOutline color="accent" size="lg" (click)="send()">Create account</button>
	</div>
</modal-main>
