<div class="container">
	<div class="row align-items-center">
		<div class="col-6">
			<div class="logo-wrapper">
				<a href="/"><img src="assets/logo.png" alt="" /></a>
			</div>
		</div>
		<div class="col-4">
			<nav>
				<ul class="menu">
					<li>
						<a routerLink="/" btnLink routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
							Main
						</a>
					</li>
					<li><a routerLink="/recipes" btnLink routerLinkActive="active">Recipes</a></li>
					<li><a routerLink="/recipes/add" btnLink routerLinkActive="active">Add recipe</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-2">
			<button class="user" (click)="openDialog()">
				<i class="fa-solid fa-user-plus"></i>
			</button>
		</div>
	</div>
</div>
