$color: #6e56fb;

:host {
	padding: 5px 0;
	box-shadow: 1px 1px 10px grey;
	overflow-x: hidden;
}

img {
	width: 90px;
	height: 90px;
}

.menu {
	display: flex;
	margin: 0;

	a {
		position: relative;
		font-size: 18px;
		font-weight: 500;
		color: black;
	}

	a::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		border-radius: 4px;
		background-color: black;
		bottom: -5px;
		left: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}

	a:hover::before {
		transform-origin: left;
		transform: scaleX(1);
	}
}

li {
	margin-right: 35px;

	&:last-child {
		margin-right: 0;
	}
}
