@import '../../../../../assets/styles/variables/index';

:host {
	display: flex;
	justify-content: end;

	@media screen and (max-width: $md) {
		justify-content: center;
		margin-top: 20px;
	}
}

a {
	margin-right: 30px;
	&:last-child {
		margin-right: 0;
	}
}
svg {
	width: 35px;
	height: 35px;
	fill: white;
	transition: 300ms;

	&:hover {
		transform: translateY(-20px);
	}
}
