<h2>Add your recipe</h2>
<form [formGroup]="form">
	<div class="container">
		<div class="row">
			<div class="col-5">
				<div class="img-wrapper">
					<img [src]="url" />
					<input class="file" type="file" (change)="onSelectFile($event)" />
				</div>
			</div>
			<div class="col-3 d-flex flex-column justify-content-around">
				<mat-form-field appearance="fill">
					<mat-label>Name</mat-label>
					<input [placeholder]="'Name'" matInput formControlName="name" />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Description</mat-label>
					<input [placeholder]="'Enter the description of food'" matInput formControlName="description" />
				</mat-form-field>
				<input-select
					label="Difficulty"
					formControlName="difficulty"
					[options]="difficultyOptions"
				></input-select>
			</div>

			<div class="col-3 d-flex flex-column justify-content-around">
				<input-select label="Category" formControlName="category" [options]="categoryOptions"></input-select>
				<input-select label="Meal" formControlName="meal" [options]="mealOptions"></input-select>
				<mat-form-field appearance="fill">
					<mat-label>Time</mat-label>
					<input [placeholder]="'Enter time of cooking'" matInput formControlName="time" />
				</mat-form-field>
			</div>
			<div class="col-12">
				<input-select
					label="Difficulty"
					formControlName="difficulty"
					[options]="difficultyOptions"
				></input-select>
			</div>
			<div class="col-12">
				<input-text label="Time" formControlName="time" placeholder="Time"></input-text>
			</div>
		</div>
		<div class="button-wrapper">
			<button btnOutline color="accent" size="lg" type="submit">Create</button>
		</div>
		
	</div>
</form>
