<h2 *ngIf="!isEdit">Add your recipe</h2>
<h2 *ngIf="isEdit">Edit {{ item?.name }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<upload-image formControlName="img"></upload-image>
			</div>
			<div class="col-6">
				<div class="wrapper">
					<div class="input-wrapper">
						<mat-form-field appearance="fill">
							<mat-label>Name</mat-label>
							<input placeholder="Name" matInput formControlName="name" />
							<mat-error ngxValidationMessages [for]="form.get('name')"></mat-error>
						</mat-form-field>
					</div>
					<div class="input-wrapper">
						<mat-form-field appearance="fill">
							<mat-label>Category</mat-label>
							<mat-select formControlName="category">
								<mat-option
									*ngFor="let option of categoryOptions; let i = index"
									[value]="option.value"
								>
									<span>{{ option.text }}</span>
								</mat-option>
							</mat-select>
							<mat-error ngxValidationMessages [for]="form.get('category')"></mat-error>
						</mat-form-field>
					</div>
					<div class="input-wrapper">
						<mat-form-field appearance="fill">
							<mat-label>Difficulty</mat-label>
							<mat-select formControlName="difficulty">
								<mat-option
									*ngFor="let option of difficultyOptions; let i = index"
									[value]="option.value"
								>
									<span>{{ option.text }}</span>
								</mat-option>
							</mat-select>
							<mat-error ngxValidationMessages [for]="form.get('difficulty')"></mat-error>
						</mat-form-field>
					</div>

					<div class="property-wrapper">
						<div class="input-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Time</mat-label>
								<input type="number" placeholder="Enter minutes of cooking" matInput formControlName="time" />
								<mat-error ngxValidationMessages [for]="form.get('time')"></mat-error>
							</mat-form-field>
						</div>
						<div class="input-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Meal</mat-label>
								<mat-select formControlName="meal">
									<mat-option	
										*ngFor="let option of mealOptions; let i = index"
										[value]="option.value"
									>
										<span>{{ option.text }}</span>
									</mat-option>
								</mat-select>
								<mat-error ngxValidationMessages [for]="form.get('meal')"></mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="input-wrapper">
					<mat-form-field appearance="fill">
						<mat-label>Description</mat-label>
						<input placeholder="Enter the description of food" matInput formControlName="description" />
						<mat-error ngxValidationMessages [for]="form.get('description')"></mat-error>
					</mat-form-field>
				</div>
			</div>
			<span class="title">List of ingredients</span>

			<ul class="ingredients" formArrayName="ingredients">
				<div class="wrapper-button-add">
					<button
						*ngIf="!ingredients.length"
						type="button"
						class="button-action add"
						(click)="addIngredients()"
					>
						+
					</button>
				</div>
				<li *ngFor="let ingredientForm of ingredients.controls; let i = index">
					<div class="ingredients-wrapper" [formGroupName]="i">
						<div class="input-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Name</mat-label>
								<input formControlName="product" matInput />
								<mat-error ngxValidationMessages [for]="ingredientForm.get('product')"></mat-error>
							</mat-form-field>
						</div>
						<div class="input-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Count</mat-label>
								<input formControlName="count" matInput />
								<mat-error ngxValidationMessages [for]="ingredientForm.get('count')"></mat-error>
							</mat-form-field>
						</div>
						<div class="input-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Unit</mat-label>
								<input formControlName="unit" matInput />
								<mat-error ngxValidationMessages [for]="ingredientForm.get('unit')"></mat-error>
							</mat-form-field>
						</div>
						<button class="button-action remove" (click)="removeIngredient(i)">X</button>
					</div>
				</li>
			</ul>
			<button *ngIf="ingredients.length" type="button" class="button-action add" (click)="addIngredients()">
				+
			</button>

			<span class="title">Cooking</span>
			<ul class="cooking" formArrayName="cooking">
				<div class="wrapper-button-add">
					<button *ngIf="!cooking.length" type="button" class="button-action add" (click)="addCooking()">
						+
					</button>
				</div>
				<li *ngFor="let cookingForm of cooking.controls; let i = index">
					<div class="cooking-wrapper" [formGroup]="getCookingForm(i)">
						<div class="input-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Description</mat-label>
								<textarea formControlName="cooking" matInput></textarea>
								<mat-error ngxValidationMessages [for]="cookingForm.get('cooking')"></mat-error>
							</mat-form-field>
						</div>
						<button type="button" class="button-action remove" (click)="removeCooking(i)">X</button>
					</div>
				</li>
			</ul>
			<button *ngIf="cooking.length" type="button" class="button-action add" (click)="addCooking()">+</button>
		</div>
		<div class="button-wrapper">
			<button *ngIf="!isEdit" btnOutline color="accent" size="lg" type="submit">Create</button>
			<button *ngIf="isEdit" btnOutline color="accent" size="lg" type="submit">Edit</button>
		</div>
	</div>
</form>

