@import '../../../../../assets/styles/variables/index';

:host {
	padding: 5px 0;
	box-shadow: 1px 1px 10px grey;
	overflow-x: hidden;
}

img {
	width: 90px;
	height: 90px;
}

.menu {
	display: flex;
	justify-content: center;
	margin: 0;

	a {
		position: relative;
		font-size: 18px;
		font-weight: 500;
		color: black;


		&.active {
			padding-bottom: 3px;
			&::before {
				opacity: 0;
			}
			border-bottom: 2px solid black;
			&:hover::before {
				opacity: 0;
			}
		}
	}
}

li {
	margin-right: 35px;

	&:last-child {
		margin-right: 0;
	}
}

.user {
	cursor: pointer;
	font-size: 20px;
	background-color: transparent;
	border-radius: 25px;
	border: none;
	transition: 300ms;

	&:hover {
		color: $color-accent;
	}
}
