.btn{
    padding: 10px 35px;
    outline: white solid 1px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    transition: 300ms;
}