@import 'media-variables.scss';

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5em;
	font-weight: normal;
}

.h1,
h1 {
	font-family: 'Roboto';
	font-size: 72px;
	font-weight: 700;
	margin: 80px 0;
	letter-spacing: 3px;
	line-height: 30px;

	@media screen and (max-width: $xl) {
		font-size: 64px;
	}

	@media screen and (max-width: $md) {
		margin: 50px 0;
		font-size: 48px;
	}

	@media screen and (max-width: $sm) {
		font-size: 32px;
	}
}

a {
	text-decoration: none;
}

a.special {
	position: relative;
}

a.special::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 4px;
	background-color: black;
	bottom: -5px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

a.special:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

li {
	list-style: none;
}
